@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@font-face {
    font-family: 'itcSouvenir';
    font-style: normal;
    font-weight: normal;
    src: local('itcSouvenir'), url(../assets/fonts/SOUVENIRSTD-MEDIUM.OTF)
}

@font-face {
    font-family: 'itcSouvenirLight';
    font-style: normal;
    font-weight: normal;
    src: local('itcSouvenir'), url(../assets/fonts/SOUVENIRSTD-LIGHT.OTF)
}