@import './mixins';
@import './fonts';

body {
    @include tablet {
        margin-top: 150px;
    }
}

.emphasis {
    font-weight: bold;
}

.multiImageBox {
    display: flex;
    justify-content: space-between;
}

.prototype {
    width: 100%;
    height: 1100px;
    margin: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include tablet {
        width: 85%;
        margin: 20px auto;
    }
}

.project {
    display: flex;
    flex-direction: column;
    &__title {
        text-transform: capitalize;
        font-family: 'itcSouvenirLight', sans-serif;
        font-weight: lighter;
        font-size: 8vw;
        margin: 0 20px;
    }
    &__subtitle {
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        font-size: 5vw;
        margin: 0 20px 20px;
    }
    &__textBox {
        margin: 15px 0;
    }
    &__text {
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        font-size: 4.5vw;
        margin: 0 20px;
    }
    &__image {
        width: 100%;
        margin: 15px 0;
    }
    &__multiImage {
        width: 48%;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        margin: 20px 15px;
        text-decoration: underline;
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        font-size: 2.5vw;
    }
    &__last {
        color: black;
    }
    &__next {
        color: black;
    }
    @include tablet {
        &__title {
            font-size: 4.5vw;
            margin-left: 50px
        }
        &__subtitle {
            font-size: 2.25vw;
            margin-left: 50px
        }
        &__textBox {
            margin: 25px 0;
        }
        &__text {
            width: 85%;
            font-size: 2.25vw;
            margin: 0 auto;
        }
        &__image {
            width: 85%;
            margin: 20px auto;
        }
        &__multiImage {
            width: 35%;
            margin: 20px auto;
        }
        &__nav {
            margin: 20px 55px;
        }
        &__last:hover {
            opacity: 0.5;
        }
        &__next:hover {
            opacity: 0.5;
        }
    }
}