@import './mixins';

html {
    background: #FFF8F1;
    scroll-behavior: smooth;
}

body {
    height: 500px;
    margin: 200px 0 0 0;
}

//NAV BAR

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #FFF8F1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__header {
        font-family: 'itcSouvenir', sans-serif;
        font-size: 48px;
        font-weight: lighter;
        margin: 30px auto 10px;
    }
    &__info {
        font-family: 'itcSouvenirLight', sans-serif;
        font-size: 24px;
        font-weight: lighter;
        margin: 0 auto 30px;
        cursor: pointer;
    }
    &__info:hover {
        color: grey;
    }
    &__infoExpanded {
        margin: 0 20px 30px;
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
        text-align: left;
    }
    @include tablet {
        &__infoInitial {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__header {
            margin: 25px 25px;
        }
        &__info {
            margin: 0 25px;
        }
    }
}

.contactBox {
    display: flex;
    justify-content: space-evenly;
    &__direct {
        text-align: left;
    }
    &__social {
        text-align: left;
    }
}

//PROJECT: ARCADIAN

.projectBox {
    text-align: center;
    margin: 50px auto;
    // &__textBox {

    // }
    &__title {
        text-transform: capitalize;
        font-family: 'itcSouvenirLight', sans-serif;
        font-weight: lighter;
        font-size: 40px;
        margin: 0 auto;
    }
    &__subtitle {
        width: 220px;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        font-size: 18px;
        margin: 0 auto;
    }
    &__image {
        width: 100%;
        height: auto;
        margin: 20px auto;
    }
    @include tablet {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        box-sizing: border-box;
        &__image {
            width: 420px;
            margin-left: auto;
            margin-right: 50px;
        }
        &__textBox {
            margin-right: auto;
        }
    }
}