@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@font-face {
  font-family: 'itcSouvenir';
  font-style: normal;
  font-weight: normal;
  src: local("itcSouvenir"), url(../assets/fonts/SOUVENIRSTD-MEDIUM.OTF);
}

@font-face {
  font-family: 'itcSouvenirLight';
  font-style: normal;
  font-weight: normal;
  src: local("itcSouvenir"), url(../assets/fonts/SOUVENIRSTD-LIGHT.OTF);
}

html {
  background: #FFF8F1;
  scroll-behavior: smooth;
}

body {
  height: 500px;
  margin: 200px 0 0 0;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  background-color: #FFF8F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: max-height 0.8s;
  transition: max-height 0.8s;
}

.navBar__header {
  font-family: 'itcSouvenir', sans-serif;
  font-size: 48px;
  font-weight: lighter;
  margin: 30px auto 10px;
}

.navBar__info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'itcSouvenirLight', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  margin: 0 auto 30px;
}

.navBar__info:hover {
  opacity: 0.5;
  cursor: pointer;
}

.navBar__dropDown {
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  margin-bottom: 20px;
}

.navBar__infoExpanded {
  margin: 0 20px 30px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  text-align: left;
}

.navBar__contactBox {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.navBar__contactBox--mobile {
  width: 100%;
  margin-left: 20px;
  display: unset;
}

.navBar__contactBox--tabletDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .navBar__infoInitial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navBar__infoExpanded {
    width: 75%;
  }
  .navBar__header {
    margin: 25px 25px;
  }
  .navBar__info {
    margin: 0 25px;
  }
  .navBar__contactBox--mobile {
    display: none;
  }
  .navBar__contactBox--tabletDesktop {
    width: 100%;
    margin-left: 20px;
    display: unset;
  }
}

.logoLink {
  text-decoration: none;
  color: black;
}

.contactLink {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.contactLink:hover {
  text-decoration: underline;
}

.textBold {
  font-weight: bold;
}

.projectBox {
  text-align: center;
  margin: 50px auto;
}

.projectBox__textBox {
  margin: 0 10px;
}

.projectBox__textBox--mobile {
  text-align: center;
  margin: 20px auto;
}

.projectBox__title {
  text-transform: capitalize;
  font-family: 'itcSouvenirLight', sans-serif;
  font-weight: lighter;
  font-size: 8vw;
  margin: 0 auto;
}

.projectBox__subtitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  font-size: 5vw;
  margin: 0 auto;
}

.projectBox__image {
  width: 100%;
  height: auto;
  margin: 20px auto 0;
}

.projectBox__image--zoomed {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projectBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .projectBox__title {
    font-size: 4.5vw;
  }
  .projectBox__subtitle {
    width: 300px;
    font-size: 2.25vw;
  }
  .projectBox__image {
    width: 40%;
    margin-left: auto;
    margin-right: 50px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  .projectBox__image--zoomed {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
  .projectBox__textBox {
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .projectBox__textBox--mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .projectBox {
    margin-bottom: 80px;
  }
  .projectBox__textBox {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .projectBox__subtitle {
    font-size: 1.75vw;
    width: 400px;
  }
  .projectBox__image {
    width: 50%;
  }
}

.projectBox:hover {
  opacity: 0.5;
  z-index: 0;
}

.creator {
  margin: 0 auto 15px;
  font-size: 10px;
  text-align: center;
}

.creator:hover {
  opacity: .75;
  cursor: pointer;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scaleY(1.05);
            transform: scaleY(1.05);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scaleY(1.05);
            transform: scaleY(1.05);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

::-moz-selection {
  background: #f89856;
}

::selection {
  background: #f89856;
}
/*# sourceMappingURL=styles.css.map */